* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    background-color: #061040;
}

.navbar {
    background-color: #061040;
}

.logo {
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/47/98/74/1000_F_447987493_5zONCijmaomCTUOBmEVl70UKRQWzNK4X.jpg');
    background-size: 163px 163px;
    background-repeat: no-repeat;
    background-position: center;
    height: 78px;
}

#navbarNavAltMarkup .navbar-nav {
    justify-content: space-around;
    width: 100%;
}

#navbarNavAltMarkup .nav-link {
    color: #fff;
}

#navbarNavAltMarkup .nav-link:hover {
    text-decoration: underline;
}

.active {
    border: 1px solid #fff;
}

.banner img {
    max-height: 550px;
    width: 100%;
}

.title h1 {
    color: #fff;
}

.title h2 {
    color: #fff;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F
}

.title {
    animation: fadeIn 5s;
    bottom: 400px;
    color:#000;
    margin: 0;
    position:relative;
}

@media screen and (max-width: 600px) {
    .title {
        bottom: 200px;
    }
}

@media screen and (max-width: 991px) {
    .title {
        bottom: 200px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
    .title {
        bottom: 300px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.titulo-sobre-mim {
    text-decoration: underline;
}

.texto-apresentacao {
    justify-content: center;
    flex-direction: column;
}

.texto-apresentacao h1, p {
    color: #fff;
}

.title-rodape h2 {
    color: #fff;
}

hr {
    border: 2px solid #fff;
    width: 60%;
}

/* Social-icons */

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/

#social-lk:hover {
    color: #0e76a8;
}

#social-gh:hover {
    color: #4078c0;
}

#social-em:hover {
    color: #f39c12;
}

.hard-skills {
    color: #fff;
}

.hard-skills li {
    list-style: none;
}
